.venv
__pycache__
.git
.gitignore
Dockerfile
docker-compose.yml
.dockerignore
dist
build
*.spec
invoices.db
invoices/
*.pyc
*.pyo
*.pyd
.db
.sqlite
venv/
env/
instance/
.pytest_cache
.coverage
htmlcov/
