# Python
*.pyc
__pycache__/
.venv/
env/
venv/
*.spec

# Flask
instance/
.webassets-cache
.env

# Database and Data
backend/data/
*.db
*.sqlite

# IDEs
.vscode/
.idea/

# Distribution / Build
dist/
build/
*.egg-info/
frontend/dist/
frontend/.angular/
frontend/node_modules/

# OS specific
.DS_Store
Thumbs.db