# Python
*.pyc
__pycache__/
.venv/
env/
venv/
*.spec

# Flask
instance/
.webassets-cache
.env

# Database
/invoices.db

# IDEs
.vscode/
.idea/

# Distribution
dist/
build/
*.egg-info/

# OS specific
.DS_Store
Thumbs.db

# App specific
/invoices/